  <nav class="navbar navbar-expand navbar-dark bg-dark p-3">
    <a class="navbar-brand"> Meu Bankline </a>
    <div class="navbar-nav">
      <a routerLink="/lancamentos" class="nav-item nav-link" routerLinkActive="active">Lançamentos</a>
      <a routerLink="/login" class="nav-item nav-link" routerLinkActive="active">Login</a>
      <a routerLink="/cadastro" class="nav-item nav-link" routerLinkActive="active">Cadastro </a>
      <a routerLink="/planos-conta" class="nav-item nav-link" routerLinkActive="active">Planos-Conta </a>

      <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  </nav>
