<!-- <p>exercicio-diretivas works!</p>

<button (click)="trocarValor()">Trocar Valor</button>
<div *ngIf="deveExibir; else elseBlock">
  Olá, estou dentro do ngIf.
</div>

<ng-template #elseBlock>
  Vou ser exibido quando o deveExibir for FALSE.
</ng-template>

<ul *ngFor="let fruta of frutas">
  {{fruta}}
</ul> -->
<!--
<h1>MEMES</h1>
<ul>
  <li *ngFor="let meme of memesLista; let par = even">
    <div *ngIf="!par">
      <h1>{{meme.categoria}}</h1>
      <div *ngFor="let element of meme.memes">
        <img [src]="urlDasImagens + element.imagemURL" width="200" alt="imagem de meme" >
      </div>
    </div>
    <h1 *ngIf="par">é PAR</h1>
  </li>
</ul> -->
<!-- <button (click)="trocarParaVermelho()">Trocar para vermelho</button>
<button (click)="trocarParaVerde()">Trocar para verde</button>

<h2 [ngClass]="classeCSS">Meu texto com ngClass</h2> -->


